{% extends 'index_base.html' %}

{% block title %}
    Visual Assistant - {{ theme_en.capitalize() }}
{% endblock %}

{% block content %}
    {% for post in posts %}
            <div class=post>

                <div class="post-top-block">
                    {% include 'author_info.html' %}
                    <h3 class="post-theme theme-{{ post.theme.theme_en }}">{{ post.theme.theme_ru }}</h3>
                </div>

                <a class="post-link" href="{{ url_for('post_app.post_detail', post_id=post.id)}}">
                    <img class=post-image
                         src="{{ post.main_photo }}"
                         alt= "Main photo for post - {{ post.title }}" >
                </a>

                <a class="post-link" href="{{ url_for('post_app.post_detail', post_id=post.id)}}">
                    <h2 class=post-title-link>{{ post.title }}</h2>
                </a>

            </div>
    {% endfor %}

{% endblock %}