{% extends './posts/post_base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    {% block post_info %}
        {{ super() }}
    {% endblock %}

    <div class="info-blocks">
        <div class="info-block">
            <p class="post-text">Героинями съемки стали Лили Макменами и Саския де Брау.</p>
            <p class="post-text">
                Jil Sander посвятил новую кампанию важности тактильного контакта и близости между людьми.
                Кампания весна-лето 2021 доступна на официальном сайте бренда.
                «Мы хотели интерпретировать темы прикосновений, близости, дружбы», — поделились креативные директоры Jil Sander Люси и Люк Мейер.
            </p>
            <p class="post-text">
                Jil Sander посвятил новую кампанию важности тактильного контакта и близости между людьми.
                Кампания весна-лето 2021 доступна на официальном сайте бренда.
                «Мы хотели интерпретировать темы прикосновений, близости, дружбы», — поделились креативные директоры Jil Sander Люси и Люк Мейер.
            </p>

            <p class="post-text">
                Ранее вышел лукбук межсезонной коллекции Jil Sander. Его снимали в квартире, для того чтобы добиться домашней атмосферы.
            </p>
        </div>
        <div class="info-block">
            <img class=post-image src="https://vision-assistant.netlify.app//img/jil-sander-ss21/JilsanderSS21_NIGEL_L_01.jpg" alt="Photo Jil Sander Campaign">
        </div>

        <div class="info-block">
            <img class=post-image src="https://vision-assistant.netlify.app//img/jil-sander-ss21/1611159637734551.jpg" alt="Photo Jil Sander Campaign">
        </div>

        <div class="info-block">
            <img class=post-image src="https://vision-assistant.netlify.app//img/jil-sander-ss21/1611159638080666.jpg" alt="Photo Jil Sander Campaign">
        </div>

        <div class="info-block">
            <img class=post-image src="https://vision-assistant.netlify.app//img/jil-sander-ss21/JilsanderSS21_NIGEL_L_04.jpg" alt="Photo Jil Sander Campaign">
        </div>

        <div class="info-block">
            <img class=post-image src="https://vision-assistant.netlify.app//img/jil-sander-ss21/JilsanderSS21_NIGEL_L_06.jpg" alt="Photo Jil Sander Campaign">
        </div>

        <div class="info-block">
            <img class=post-image src="https://vision-assistant.netlify.app//img/jil-sander-ss21/JilsanderSS21_SHANIQWA_L_01.jpg" alt="Photo Jil Sander Campaign">
        </div>

        <div class="info-block">
            <img class=post-image src="https://vision-assistant.netlify.app//img/jil-sander-ss21/jil-sander-main.jpg" alt="Photo Jil Sander Campaign">
        </div>

    </div>
{% endblock %}
