{% extends './posts/post_base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    {% block post_info %}
        {{ super() }}
    {% endblock %}

    <div class="info-blocks">
        <div class="info-block">
            <p class="post-text">«Polar Night» рассказывает о повседневной жизни отдаленного города, расположенного более чем в 400 км к северу от Полярного круга.</p>
            <p class="post-text">
                Utqiagvik (ранее известный как Barrow) - крупнейший город и правительственный центр округа North Slope Borough на Аляске.
                Это одно из самых северных общественных сообществ в мире. Главной целью Mahaney было раскрыть распорядок жизни людей, живущих в этом месте,
                где ночь длится два невыносимо долгих месяца, а продукты доставляются по воздуху в определенные даты.
                Раскрывая повседневную жизнь жителей с помощью фотографий зданий, обмерзших автомобилей и сторожевых собак со сверкающими клыками,
                он обнаружил еще один важный аспект, который добавляет дополнительный слой в его историю: реакцию жителей на изменение климата.
            </p>
        </div>
        <div class="info-block">
            <img class=post-image src="https://vision-assistant.netlify.app//img/polar-night-mark/h1200_mark_mahaney_8a74709d.jpg" alt="Photo Mark Mahaney Polar Night">
        </div>

        <div class="info-block">
            <img class=post-image src="https://vision-assistant.netlify.app//img/polar-night-mark/polar-night-main.jpg" alt="Photo Mark Mahaney Polar Night">
        </div>

        <div class="info-block">
            <img class=post-image src="https://vision-assistant.netlify.app//img/polar-night-mark/h1200_mark_mahaney_f45b8b00.jpg" alt="Photo Mark Mahaney Polar Night">
        </div>

        <div class="info-block">
            <p class="post-text">
                «Никакие дороги не ведут.
                Ни растений, ни деревьев, ни свежих продуктов, кроме того, на что охотятся: гренландского кита, тюленя, карибу, моржа, белого медведя »,
                - сообщает Mark Mahaney. Так темно. Так холодно, что ничего не чувствуешь.
                В «дневное время» он видел людей, спешащих на работу или в продуктовый магазин; ночью улицы были безлюдны.
                Он совершал ночные походы и фотографировал, как здания и автомобили покрываются слоями снега.
                Так же, Mahaney сумел передать в контрастных теплых тонах определенное ощущение комфорта в этом городе.
                Или, по крайней мере, сокрытую перспективу светлого будущего впереди - в конце полярной ночи.

            </p>
        </div>

        <div class="info-block">
            <img class=post-image src="https://vision-assistant.netlify.app//img/polar-night-mark/h1200_mark_mahaney_69c279a2.jpg" alt="Photo Mark Mahaney Polar Night">
        </div>

        <div class="info-block">
            <img class=post-image src="https://vision-assistant.netlify.app//img/polar-night-mark/h1200_mark_mahaney_0dae647e.jpg" alt="Photo Mark Mahaney Polar Night">
        </div>

        <div class="info-block">
            <img class=post-image src="https://vision-assistant.netlify.app//img/polar-night-mark/h1200_mark_mahaney_1a7bb06d.jpg" alt="Photo Mark Mahaney Polar Night">
        </div>

        <div class="info-block">
            <img class=post-image src="https://vision-assistant.netlify.app//img/polar-night-mark/h1200_mark_mahaney_8f5f772c.jpg" alt="Photo Mark Mahaney Polar Night">
        </div>

        <div class="info-block">
            <img class=post-image src="https://vision-assistant.netlify.app//img/polar-night-mark/h1200_mark_mahaney_072e17e3.jpg" alt="Photo Mark Mahaney Polar Night">
        </div>

        <div class="info-block">
            <img class=post-image src="https://vision-assistant.netlify.app//img/polar-night-mark/h1200_mark_mahaney_76f7ef10.jpg" alt="Photo Mark Mahaney Polar Night">
        </div>

        <div class="info-block">
            <img class=post-image src="https://vision-assistant.netlify.app//img/polar-night-mark/h1200_mark_mahaney_9ca4d49e.jpg" alt="Photo Mark Mahaney Polar Night">
        </div>

        <div class="info-block">
            <img class=post-image src="https://vision-assistant.netlify.app//img/polar-night-mark/h1200_mark_mahaney_a4fd38b4.jpg" alt="Photo Mark Mahaney Polar Night">
        </div>

        <div class="info-block">
            <img class=post-image src="https://vision-assistant.netlify.app//img/polar-night-mark/h1200_mark_mahaney_c9b0e991.jpg" alt="Photo Mark Mahaney Polar Night">
        </div>

    </div>
{% endblock %}
